body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    
    font-size: 50px;
    margin-left: 20px;
}
h2{
    font-size: 40px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    text-align: justify;

}
.half-width img{
    margin-top: 5px;
    width: 100%;
    

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

   
}
.top-banner{
    height: 500px;
    background-image: url("Image/top-banner.png");
    background-repeat: no-repeat;
}

.middle-banner{
    height: 500px;
    background-image: url("Image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

    
}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 80%;
    background-color: white;

}
.Experience-area{
    height: 500px;
    background-image: url("Image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    
   

}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;
}

#baby-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    margin: 50px;
    padding: 50px;
}
