body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    
    font-size: 40px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    text-align: justify;

}
.half-width img{
    margin-top: 5px;
    width: 100%;
    

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

   
}
.top-banner{
    height: 500px;
    background-image: url("Image/top-banner.png");
    background-repeat: no-repeat;
}